* {
  margin: 0;
  padding: 0;
}
#tt {
  box-sizing: border-box;
}
#img1 {
  width: 27px;
  height: 27px;
  background: url("./assets/images/gou.png") no-repeat;
}
#img2 {
  width: 120px;
  height: 120px;
  background: url("./assets/images/success.png") no-repeat;
}

#test {
  width: 50px;
}
